.card {
  overflow: hidden;
  width: 250px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid #fff;
  img {
    transition: all 0.5s;
  }
  &:hover {
    img {
      transform: scale(1.3);
      transition: all 0.5s;
    }
  }
}
