@import '../../../../styles/colors.scss';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $background-color_3;
  overflow: hidden;
  padding-top: 80px;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $color_2;
    gap: 10px;
    font-family: $font-family_1;
    .title {
      font-size: 50px;
    }
    .img {
      pointer-events: none;
      width: 40px;
    }
  }
  .container_splide {
    max-width: 1400px;
    width: 100%;
    height: 100%;
  }
  .container_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container_content_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      text-align: center;
      padding: 0 5px;
      .container_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-family: $font-family_1;
        color: white;
        .line1 {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 35px;
          }
          i {
            margin-right: 10px;
            font-size: 30px;
            transition: 0.7s;
          }
          .link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color_2;
            i {
              margin-top: -2px;
            }
            &:hover {
              i {
                border-radius: 10px;
                transition: 0.7s;
                transform: rotate(360deg);
                color: $color_6;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                background-clip: text;
                -webkit-background-clip: text;
              }
            }
          }
        }
        .line2 {
          font-size: 50px;
        }
        .line3 {
          font-size: 18px;
          width: 100%;
          font-size: 30px;
        }
      }
      .container_background {
        padding: 0 15px;
        max-width: 1200px;
        padding: 20px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: $background-color_7;
        backdrop-filter: blur(8px);
      }
    }
    .hero {
      margin-left: auto;
      width: 300px;
      height: 450px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 1600px) {
  .container {
    gap: 30px;
    .container_content {
      flex-direction: column;
      .hero {
        margin-left: auto;
        width: 280px;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
