@import '../../../../styles/colors.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;
  gap: 40px;
  background: #effffe;
  box-shadow: 1px -3px 14px -5px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $color_3;
    gap: 10px;
    font-family: $font-family_1;
    .title {
      font-size: 50px;
    }
    .img {
      pointer-events: none;
      width: 80px;
    }
  }
  .container_splide {
    max-width: 1400px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 650px) {
  .container {
    min-height: 400px;
    .heading {
      gap: 0;
      .title {
        font-size: 40px;
      }
      .img {
        width: 70px;
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    .heading {
      gap: 0;
      .title {
        font-size: 35px;
      }
      .img {
        width: 50px;
      }
    }
  }
}
@media (max-width: 390px) {
  .container {
    .heading {
      .img {
        display: none;
      }
    }
  }
}
