@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(84, 197, 192) 80%);
  overflow: hidden;
  .container_hero {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: $font-family_1;
      font-size: 60px;
      color: $color_2;
    }
    .desc {
      margin: 30px 0;
      font-size: 30px;
      text-align: center;
      font-family: $font-family_1;
      max-width: 900px;
      color: $color_2;
    }
    .icon {
      width: 100px;
      pointer-events: none;
    }
  }
  .hero {
    width: 20%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    img {
      max-width: 280px;
    }
  }
}

@media (max-width: 1280px) {
  .container {
    .container_hero {
      .title {
        font-size: 50px;
      }
      .desc {
        margin: 0 30px;
        font-size: 26px;
        max-width: 800px;
      }
    }
    .hero {
      img {
        max-width: 220px;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    .container_hero {
      .title {
        font-size: 50px;
      }
      .desc {
        margin: 0;
        font-size: 26px;
        max-width: 800px;
      }
    }
  }
}
