@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(84, 197, 192) 80%);
  .container_hero {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-family: $font-family_1;
      font-size: 60px;
      color: $color_2;
    }
    .desc {
      margin: 30px 0;
      font-size: 30px;
      text-align: center;
      font-family: $font-family_1;
      max-width: 900px;
      color: $color_2;
    }
    .icon {
      width: 100px;
      pointer-events: none;
    }
  }
  .hero {
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
}
