@import '../../../styles/colors.scss';
.card {
  overflow: hidden;
  max-width: 280px;
  width: 100%;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid white;
  .img {
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 25px;
    background-color: $background-color_6;
    bottom: 0;
    text-align: center;
    color: $color_5;
    font-size: 16px;
    opacity: 0;
    transition: all 0.4s;
    .title {
      transform: translateY(30px);
      transition: all 0.5s;
      color: $color_3;
      font-family: $font-family_1;
      font-size: 40px;
    }
    .desc {
      padding: 0 5px;
      transform: translateY(50px);
      transition: all 0.5s;
      font-family: $font-family_2;
    }
    .btn {
      transform: translateY(80px);
      transition: all 0.5s;
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: transparent;
      .link {
        text-decoration: none;
        color: $color_3;
        font-family: $font-family_1;
        font-size: 30px;
      }
    }
    &:hover {
      opacity: 1;
      transition: all 0.4s;
      .title {
        transform: translateY(0px);
        transition: all 0.5s;
      }
      .desc {
        transform: translateY(0px);
        transition: all 0.5s;
      }
      .btn {
        transform: translateY(0px);
        transition: all 0.5s;
      }
    }
  }
  &:hover {
    transform: translateY(-15px);
    transition: all 0.3s;
  }
}
@media (max-width: 1250px) {
  .card {
    max-width: 220px;
    width: 100%;
    height: 300px;
    .overlay {
      gap: 25px;
      .title {
        font-size: 30px;
      }
      .desc {
        font-size: 12px;
      }
      .btn {
        .link {
          font-size: 25px;
        }
      }
    }
  }
}
