@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgb(84, 197, 192) 10%, rgb(255, 255, 255) 99%);
  overflow: hidden;
  .container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 500px;
    .logo {
      max-width: 650px;
      width: 100%;
      height: 100%;
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    .title {
      font-size: 40px;
      color: $color_2;
      font-family: $font-family_1;
    }
    i {
      font-size: 40px;
    }
  }
}
@media (max-width: 450px) {
  .container {
    .btn {
      .title {
        font-size: 9vw;
      }
    }
  }
}
