@import '../../../styles/colors.scss';
.card {
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 440px;
  border-top-left-radius: 40px;
  border-radius: 30px;
  background-color: $background-color_10;
  box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
  margin: 10px;
  .img_box {
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: $background-color_11;
    img {
      margin: 10px;
      max-width: 140px;
      width: 100%;
      padding: 5px;
      border: 4px solid white;
      border-radius: 100%;
      pointer-events: none;
    }
  }
  .container_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    .title {
      color: $color_1;
      font-family: $font-family_1;
      font-size: 40px;
    }
    .desc {
      color: $color_1;
      font-family: $font-family_2;
      font-size: 15px;
      padding: 0 10px;
    }
    .star {
      i {
        color: $color_7;
      }
    }
  }

  &:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
  }
}

@media (max-width: 1250px) {
  .card {
    width: 250px;
    height: 410px;
  }
}
@media (max-width: 1250px) {
  .card {
    width: 290px;
    height: 440px;
  }
}
@media (max-width: 850px) {
  .card {
    width: 240px;
    height: 400px;
    .container_content {
      .title {
        font-size: 30px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 770px) {
  .card {
    width: 220px;
    height: 380px;
  }
}
@media (max-width: 700px) {
  .card {
    width: 290px;
    height: 440px;
    .container_content {
      .title {
        font-size: 40px;
      }
      .desc {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 570px) {
  .card {
    width: 220px;
    height: 380px;
    .container_content {
      .title {
        font-size: 30px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 450px) {
  .card {
    width: 290px;
    height: 440px;
    .container_content {
      .title {
        font-size: 40px;
      }
      .desc {
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 300px) {
  .card {
    width: 220px;
    height: 380px;
    .container_content {
      .title {
        font-size: 30px;
      }
      .desc {
        font-size: 12px;
      }
    }
  }
}
