@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #effffe;
  overflow: hidden;
  background-image: url('/assets/background_mimos.webp');
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .heading {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    .heart {
      width: 55px;
      height: 55px;
      pointer-events: none;
    }
    .title {
      padding-left: 30px;
      font-family: $font-family_1;
      color: $color_3;
      font-size: 50px;
    }
  }
  .container_content {
    width: 100%;
    height: 100%;
    pointer-events: none;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      margin-bottom: -10px;
    }
  }
}
@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    .heading {
      margin-top: 60px;
      .title {
        padding-left: 0px;
      }
    }
  }
}
