@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #effffe;
  overflow: hidden;
  background-image: url('/assets/background_mimos.png');
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .heading {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    .heart {
      width: 55px;
      height: 55px;
      pointer-events: none;
    }
    .title {
      padding-left: 30px;
      font-family: $font-family_1;
      color: $color_3;
      font-size: 50px;
    }
  }
  .container_content {
    width: 100%;
    pointer-events: none;
    margin-bottom: -10px;
  }
}
