@import '../../../styles/colors.scss';
.container {
  border-top: 2px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 1px -3px 14px -5px rgba(0, 0, 0, 0.75);
  background: linear-gradient(36deg, rgb(255, 255, 255) 0%, rgb(84, 197, 192) 80%);
  height: 800px;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $color_2;
    font-family: $font-family_1;
    font-size: 50px;
    gap: 20px;
    padding-top: 50px;
    .img {
      width: 70px;
      height: 70px;
    }
  }
  .desc {
    color: white;
    font-family: $font-family_2;
    font-size: 20px;
  }
}
