@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  min-height: 800px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #fff;
  gap: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(36deg, rgb(255, 255, 255) 0%, rgb(84, 197, 192) 80%);
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $color_2;
    font-family: $font-family_1;
    font-size: 50px;
    gap: 20px;
    padding-top: 50px;
    .img {
      width: 70px;
      height: 70px;
    }
  }
  .desc {
    color: white;
    font-family: $font-family_2;
    font-size: 20px;
  }
  .container_splide {
    max-width: 1400px;
    width: 100%;
    height: 100%;
  }
}
