@import '../../../styles/colors.scss';
.container {
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background: rgb(84, 197, 192);
  background: linear-gradient(180deg, rgb(84, 197, 192) 20%, rgb(255, 255, 255) 99%);
  padding: 30px;
  .container_content {
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/banner.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      color: $color_2;
      gap: 10px;
      font-family: $font-family_1;
      height: 100px;
      .title {
        font-size: 60px;
      }
      img {
        width: 60px;
      }
    }
    .container_splide {
      max-width: 1400px;
      width: 100%;
      height: 100%;
    }
  }
}
