@import '../../../../styles/colors.scss';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
  gap: 40px;
  background-color: $background-color_3;
  background-image: url('/assets/backg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: $color_2;
    gap: 10px;
    font-family: $font-family_1;
    .title {
      font-size: 50px;
    }
    .img {
      pointer-events: none;
      width: 50px;
    }
  }
  .container_splide {
    max-width: 1400px;
    width: 100%;
    height: 100%;
  }
  .container_content {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    .container_background {
      padding: 20px;
      width: 100%;
      border-radius: 10px;
      border: 2px solid white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: $background-color_7;
      backdrop-filter: blur(8px);
    }
  }
}
@media (max-width: 980px) {
  .container {
    min-height: 400px;
  }
}
@media (max-width: 650px) {
  .container {
    .heading {
      gap: 0;
      .title {
        font-size: 40px;
      }
    }
    .container_content {
      .container_background {
        padding: 10px;
      }
    }
  }
}
@media (max-width: 550px) {
  .container {
    min-height: 300px;
  }
}
@media (max-width: 480px) {
  .container {
    .heading {
      .title {
        font-size: 35px;
      }
      .img {
        width: 30px;
      }
    }
  }
}
