@import '../../../styles/colors.scss';
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  .background {
    padding: 25px 0;
    .circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color_3;
      border-radius: 100%;
      padding: 4px;
      cursor: pointer;
      transition: all 0.3s;
      .circle_img {
        width: 330px;
        height: 330px;
        position: absolute;
      }
      .container_img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 240px;
        max-height: 240px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
        .img {
          margin-top: 60px;
          opacity: 1;
          width: 100%;
          height: 100%;
          transition: all 1s;
          object-fit: cover;
          cursor: pointer;
        }
      }
      &:hover {
        .circle_img {
          animation: spin 4s linear both;
        }
      }
    }
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: relative;
    .background {
      padding: 0;
      .circle {
        .circle_img {
          width: 220px;
          height: 220px;
        }
        .container_img {
          max-width: 160px;
          max-height: 160px;
          .img {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
