@import '../../../styles/colors.scss';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  font-family: $font-family_2;
  overflow: hidden;
  .link {
    text-decoration: none;
    color: $color_3;
    margin-right: 5px;
  }
}
@media (max-width: 380px) {
  .container {
    p {
      font-size: 12px;
    }
  }
}
