@import '../../../styles/colors.scss';
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  font-family: $font-family_2;
  a {
    text-decoration: none;
    color: $color_3;
    &:hover {
      color: $color_3;
    }
  }
}
