$color_1: #252429;
$color_2: #fff;
$color_3: #54c5c0;
$color_4: white;
$color_5: black;
$color_6: transparent;
$color_7: rgba(255, 218, 5, 0.671);
$font-family_1: allura;
$font-family_2: montserrat;
$background-color_1: transparent;
$background-color_2: rgba(255, 255, 255, 0.521);
$background-color_3: #54c5c0;
$background-color_4: #252429;
$background-color_5: white;
$background-color_6: rgba(255, 255, 255, 0.8);
$background-color_7: rgba(255, 255, 255, 0.4);
$background-color_8: rgba(255, 255, 255, 0.171);
$background-color_9: rgba(255, 255, 255, 0.45);
$background-color_10: rgba(255, 255, 255, 0.5);
$background-color_11: rgba(84, 197, 191, 0.8823529412);
$background-color_12: rgba(255, 255, 255, 0.89);
$background-color_13: rgba(255, 255, 255, 0.658);
$border-top-color_1: #fff;
$border-right-color_1: #fff;
$border-bottom-color_1: #fff;
$border-left-color_1: #fff;
